<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NumeFisier" value="D:\FACULTATE\AN II SEM2\PIU\HotelApp\HotelApp\bin\Debug\camere.txt" />
		<add key="caleFisier" value="clienti.txt"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
